<?xml version="1.0"?>
<launch>
  <include file="$(find hstar_amp)/launch/base.launch" ns="hstar_amp1"/>
  <include file="$(find hstar_amp)/launch/base_auto.launch" ns="hstar_amp1"/>
  <include file="$(find reflex_sf)/launch/reflex_hand1.launch" />
  <include file="$(find reflex_sf)/launch/reflex_hand2.launch" />
</launch>
